/* stylelint-disable selector-max-id */

:root {
  --red: red;
  --blue: blue;
  --green: green;
}

#qunit {
  /* display: none; */
}

#qunit-fixture {
  position: static;
}

#test-container {
  width: 300px;
  height: 200px;
  background-color: var(--red);
}

#test-element {
  width: 100px;
  height: 50px;
  background-color: var(--blue);
}

#test-reference {
  width: 200px;
  height: 100px;
  background-color: var(--green);
}